<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COH2 COS</title>
    <link rel="stylesheet" href="/assets/node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/flag.css">
    <style>
        #left-side-players, #right-side-players {
            flex: 1;padding: 8px
        }
        #left-side-players {
            padding-right: 4px
        }
        #right-side-players {
            padding-left: 4px
        }
        .player-summary {
            padding-top: 20px;
        }
        .player-summary a {
            display: block;
        }
        .player-summary > .avatar {
            float: left; padding: 0 10px 0 0;
        }
        .player-summary > .nickname {
            float: left; line-height: 31px;
        }
        .player-summary > .faction {
            float: right;
        }
        .player-summary.right > .avatar {
            float: right; padding: 0 0 0 10px;
        }
        .player-summary.right > .nickname {
            float: right; text-align: right;
        }
        .player-summary.right > .faction {
            float: left;
        }
        .player-avatar {
            width: 64px;
            border: 1px #ccc solid;
            padding: 1px;
        }
        th, td {
            text-align: center !important;
            vertical-align: middle !important;
        }
    </style>
</head>

<body>
    <div id="player-template" style="display: none;">
        <div class="player-summary">
            <div class="avatar">
                <a target="_blank" class="player-link">
                    <img class="player-avatar" />
                </a>
            </div>
            <div class="nickname">
                <a target="_blank" class="player-link">
                    <p class="player-nickname"></p>
                    <div class="f32"><span class="flag"></span></div>
                </a>
            </div>
            <div class="faction">
                <img class="faction-icon" />
            </div>
        </div>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>MODE</th>
                    <th>RANK</th>
                    <th>LEVEL</th>
                    <th>STREAK</th>
                    <th>WINS</th>
                    <th>LOSSES</th>
                    <th>RATIO</th>
                    <th>TOTAL</th>
                    <th>DROPS</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1v1</td></tr>
                <tr><td>2v2</td></tr>
                <tr><td>3v3</td></tr>
                <tr><td>4v4</td></tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex;">
        <div id="left-side-players"></div>
        <div id="right-side-players"></div>
    </div>
    <script>
        function buildMatchPlayerView(player) {
            let playerView = document.createElement('div');
            playerView.innerHTML = document.querySelector('#player-template').innerHTML;
            playerView.setAttribute('class', 'player-stat');
            playerView.setAttribute('faction', player.faction);
            playerView.setAttribute('steamID', player.steamID);
            playerView.querySelector('.player-nickname').innerHTML = player.nickName;
            for (const link of playerView.querySelectorAll('.player-link')) {
                link.setAttribute('href', 'https://www.companyofheroes.com/leaderboards#profile/steam/' + player.steamID + '/standings');
            }
            playerView.querySelector('.faction-icon').setAttribute('src', 'http://www.companyofheroes.com/sites/all/modules/custom/reliclink/img/races/md_' 
                + ['german', 'soviet', 'west_german', 'aef', 'british'].indexOf(player.faction) + '.png');
            let rows = playerView.querySelectorAll('table>tbody>tr');
            for (const row of rows) {
                row.innerHTML += '<td class="rank">-</td><td class="rankLevel">-</td><td class="streak">-</td><td class="wins">-</td><td class="losses">-</td><td class="ratio">-</td><td class="total">-</td><td class="drops">-</td>'
            }
            if (player.side == 0) {
                document.querySelector('#left-side-players').insertAdjacentElement('beforeend', playerView);
            } else {
                const summaryContainer = playerView.querySelector('.player-summary');
                summaryContainer.classList.add('right');
                document.querySelector('#right-side-players').insertAdjacentElement('beforeend', playerView);
            }
        }
        function loadPlayersStat() {
            for (const ele of document.querySelectorAll('.player-stat')) {
                const steamID = ele.getAttribute('steamID');
                const faction = ele.getAttribute('faction');
                if (steamID && faction) {
                    fetch('/player/' + steamID + '/profile')
                        .then(response => response.json())
                        .then(data => {
                            const d = data.data;
                            try {
                                const avatarURL = d.steamResults.response.players[0].avatarfull;
                                ele.querySelector('.player-avatar').setAttribute('src', avatarURL);
                            } catch (error) { }
                            try {
                                const country = d.avatars[0].country;
                                ele.querySelector('.flag').classList.add(country);
                                ele.querySelector('.flag').setAttribute('title', country);
                            } catch (error) { }
                        });
                    fetch('/player/' + steamID + '/ranking')
                        .then(response => response.json())
                        .then(data => {
                            const d = data.data;
                            const statData = {
                                german: [d[4], d[8], d[12], d[16]],
                                soviet: [d[5], d[9], d[13], d[17]],
                                west_german: [d[6], d[10], d[14], d[18]],
                                aef: [d[7], d[11], d[15], d[19]],
                                british: [d[51], d[52], d[53], d[54]],
                            }[faction]
                            for (const idx in statData) {
                                const d = statData[idx];
                                if (!d) {
                                    continue;
                                }
                                const tr = ele.querySelectorAll('tbody>tr')[idx];
                                tr.querySelector('td.rank').innerHTML = d.rank == -1 ? '-' : d.rank;
                                tr.querySelector('td.rankLevel').innerHTML = d.rankLevel == 0 ? '-' : d.rankLevel;
                                tr.querySelector('td.streak').innerHTML = d.streak > 0 ? '+' + d.streak : d.streak;
                                tr.querySelector('td.wins').innerHTML = d.wins;
                                tr.querySelector('td.losses').innerHTML = d.losses;
                                tr.querySelector('td.ratio').innerHTML = parseFloat((d.wins / (d.wins + d.losses) * 100).toFixed(1)) + '%';
                                tr.querySelector('td.total').innerHTML = d.wins + d.losses;
                                tr.querySelector('td.drops').innerHTML = d.drops;
                            }
                        });
                }
            }
        }
        function loadPlayers() {
            fetch('/match/players')
                .then(response => response.json())
                .then(data => {
                    const _matchID = JSON.stringify(data)
                    if (window.matchID != _matchID) {
                        document.querySelector('#left-side-players').innerHTML = '';
                        document.querySelector('#right-side-players').innerHTML = '';
                        for (const player of data) {
                            // player.steamID = '76561198046481660';
                            buildMatchPlayerView(player)
                        }
                        loadPlayersStat();
                        window.matchID = _matchID;
                    }
                });
            setTimeout(loadPlayers, 2000);
        }
        loadPlayers();
    </script>
</body>

</html>