<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COH2 Match</title>
    <link rel="stylesheet" href="/assets/node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/flag.css">
    <style>
        #left-side-players,
        #right-side-players {
            flex: 1;
            padding: 8px
        }
        #left-side-players {
            padding-right: 4px
        }
        #right-side-players {
            padding-left: 4px
        }
        .player-avatar {
            width: 64px;
            border: 1px #ccc solid;
            padding: 1px;
        }
        th, td {
            text-align: center !important;
            vertical-align: middle !important;
        }
    </style>
</head>

<body>
    <table id="player-template" style="display: none;">
        <thead>
            <tr>
                <th colspan="2"><a target="_blank" class="player-link"><span class="player-nickname"></span></a></th>
                <th>MODE</th>
                <th>RANK</th>
                <th>LEVEL</th>
                <th>STREAK</th>
                <th>WINS</th>
                <th>LOSSES</th>
                <th>RATIO</th>
                <th>TOTAL</th>
                <th>DROPS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">
                    <a target="_blank" class="player-link" style="display: block;">
                        <img class="player-avatar" />
                        <div class="f32"><span class="flag" title=""></span></div>
                    </a>
                </td>
                <td rowspan="4"><img class="faction-icon" /></td>
                <td>1v1</td>
            </tr>
            <tr>
                <td>2v2</td>
            </tr>
            <tr>
                <td>3v3</td>
            </tr>
            <tr>
                <td>4v4</td>
            </tr>
        </tbody>
    </table>
    <div style="display: flex;">
        <div id="left-side-players">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"></table>
        </div>
        <div id="right-side-players">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"></table>
        </div>
    </div>
    <script>
        function buildMatchPlayerView(player) {
            let playerView = document.querySelector('#player-template').innerHTML;
            let tmpTable = document.createElement('table');
            tmpTable.innerHTML = playerView;
            let rows = tmpTable.querySelectorAll('tbody>tr');
            for (const row of rows) {
                row.innerHTML += '<td class="rank">-</td><td class="rankLevel">-</td><td class="streak">-</td><td class="wins">-</td><td class="losses">-</td><td class="ratio">-</td><td class="total">-</td><td class="drops">-</td>'
            }
            tmpTable.querySelector('tbody').setAttribute('faction', player.faction);
            tmpTable.querySelector('tbody').setAttribute('steamID', player.steamID);
            tmpTable.querySelector('.player-nickname').innerHTML = player.nickName;
            for (const link of tmpTable.querySelectorAll('.player-link')) {
                link.setAttribute('href', 'https://www.companyofheroes.com/leaderboards#profile/steam/' + player.steamID + '/standings');
            }
            tmpTable.querySelector('.faction-icon').setAttribute('src', 'http://www.companyofheroes.com/sites/all/modules/custom/reliclink/img/races/md_' + ['german', 'soviet', 'west_german', 'aef', 'british'].indexOf(player.faction) + '.png');
            if (player.side == 0) {
                document.querySelector('#left-side-players>table').insertAdjacentHTML('beforeend', tmpTable.innerHTML);
            } else {
                let s = [];
                let columns = tmpTable.querySelectorAll('thead>tr>th');
                for (const column of columns) {
                    s.push(column.outerHTML)
                }
                s.push(s.shift())
                tmpTable.querySelector('thead>tr').innerHTML = s.join('');
                s = [];
                columns = tmpTable.querySelectorAll('tbody>tr')[0].querySelectorAll('td');
                for (const column of columns) {
                    s.push(column.outerHTML)
                }
                const first = s.shift()
                s.push(s.shift())
                s.push(first)
                tmpTable.querySelectorAll('tbody>tr')[0].innerHTML = s.join('');
                document.querySelector('#right-side-players>table').insertAdjacentHTML('beforeend', tmpTable.innerHTML);
            }
        }
        function loadPlayersStat() {
            for (const tbody of document.querySelectorAll('tbody')) {
                const steamID = tbody.getAttribute('steamID');
                const faction = tbody.getAttribute('faction');
                if (steamID && faction) {
                    fetch('/player/' + steamID + '/profile')
                        .then(response => response.json())
                        .then(data => {
                            const d = data.data;
                            try {
                                const avatarURL = d.steamResults.response.players[0].avatarfull;
                                tbody.querySelector('.player-avatar').setAttribute('src', avatarURL);
                            } catch (error) { }
                            try {
                                const country = d.avatars[0].country;
                                tbody.querySelector('.flag').classList.add(country);
                                tbody.querySelector('.flag').setAttribute('title', country);
                            } catch (error) { }
                        });
                    fetch('/player/' + steamID + '/ranking')
                        .then(response => response.json())
                        .then(data => {
                            const d = data.data;
                            const statData = {
                                german: [d[4], d[8], d[12], d[16]],
                                soviet: [d[5], d[9], d[13], d[17]],
                                west_german: [d[6], d[10], d[14], d[18]],
                                aef: [d[7], d[11], d[15], d[19]],
                                british: [d[51], d[52], d[53], d[54]],
                            }[faction]
                            // if (faction == 'aef') {
                            //     console.log(statData);
                            // }
                            for (const idx in statData) {
                                const d = statData[idx];
                                if (!d) {
                                    continue;
                                }
                                const tr = tbody.querySelectorAll('tr')[idx];
                                tr.querySelector('td.rank').innerHTML = d.rank == -1 ? '-' : d.rank;
                                tr.querySelector('td.rankLevel').innerHTML = d.rankLevel == 0 ? '-' : d.rankLevel;
                                tr.querySelector('td.streak').innerHTML = d.streak > 0 ? '+' + d.streak : d.streak;
                                tr.querySelector('td.wins').innerHTML = d.wins;
                                tr.querySelector('td.losses').innerHTML = d.losses;
                                tr.querySelector('td.ratio').innerHTML = parseFloat((d.wins / (d.wins + d.losses) * 100).toFixed(1)) + '%';
                                tr.querySelector('td.total').innerHTML = d.wins + d.losses;
                                tr.querySelector('td.drops').innerHTML = d.drops;
                            }
                        });
                }
            }
        }
        function loadPlayers() {
            fetch('/match/players')
                .then(response => response.json())
                .then(data => {
                    const _matchID = JSON.stringify(data)
                    if (window.matchID != _matchID) {
                        document.querySelector('#left-side-players>table').innerHTML = '';
                        document.querySelector('#right-side-players>table').innerHTML = '';
                        for (const player of data) {
                            // player.steamID = '76561198046481660';
                            buildMatchPlayerView(player)
                        }
                        loadPlayersStat();
                        window.matchID = _matchID;
                    }
                });
            setTimeout(loadPlayers, 5000);
        }
        loadPlayers();
    </script>
</body>

</html>